<div class="flexContainer">
  <h1 class="flexItemAuto">
      Welcome to yafi!
  </h1>

  
    <app-search class="flexItemAuto"></app-search>
  

  <div class="flexItemInitial">
      <div *ngIf="loggedIn == false">
        <label for="name">username</label>
        <input [(ngModel)]="username" type="text">
        <label for="name">password</label>
        <input [(ngModel)]="password" type="password">
        <button (click)="login()">login</button>  
      </div>  
      <div *ngIf="loggedIn == true">
        <label>Welcome {{username}}</label>
      </div>
  </div>
</div>
