.thread {
    border-style: solid;
    margin: 1em;
}

.threadDetail {
    text-align: right;
    /* display: inline-block; */
    border-style: solid;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexItemInitial {
    flex: initial;
}

.flexItemAuto {
    flex: auto;
}

i {
    display: inline-block;
    /* width: 100px;
    height: 100px; */
    /* background: red; */
    /* -webkit-transition: width 2s, height 2s, -webkit-transform 2s; Safari */
    transition: width 1s, height 1s, transform 1s;
}

i:active {
    transition: width 1s, height 1s, transform 1s;
    transform: rotate(360deg);
}