.thread {
    border-style: solid;
    margin: 1em;
}

.threadDetail {
    text-align: right;
    /* display: inline-block; */
    border-style: solid;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexItemInitial {
    flex: initial;
}

.flexItemAuto {
    flex: auto;
}