<div class="flexContainer">
  <div class="flexItemInitial">
    <div *ngIf="topicDtos">
      <h2>topics of the day <i (click)="readRecentTopics()">&#8635;</i>
      </h2>
      <ul style="list-style: none;">
        <li *ngFor="let topicDto of topicDtos">
          <a (click)="readThreadsFromTopic(topicDto)">{{topicDto.name}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="topicDtos?.length == 0">
      No recent topics today
    </div>
  </div> 

  <div *ngIf="threadPageDto" class="flexItemAuto">
    <ul style="list-style: none;">
      <li *ngFor="let threadDto of threadPageDto.threadDTOs">
        <article class="thread">
          <p>{{threadDto.content}}</p>
          <p class="threadDetail">
          {{threadDto.username}} {{threadDto.createdOn}}
          </p>
          </article>
      </li>
    </ul>

    <input [(ngModel)]="content" placeholder="name">  <button (click)="postThread()">Click me!</button>
  </div>

</div>